<!-- INCLUDE overall_header.html -->
<div style="text-align:center">
    <img src="https://www.mundotecnico.info/styles/elegance_lightblue/theme/images/logo_hd.png" class="postimage" alt="Imagen">
    <br>
    <hr>
    <br>
    <span style="font-size:350%;line-height:116%"><strong class="text-strong">SUSCRIPCION</strong></span><br>
    <br>
    <span style="font-size:200%;line-height:116%"><strong class="text-strong">Elige el Plan que mas te convenga.</strong></span><br>
    <br>
    <span style="font-size:200%;line-height:116%"><strong class="text-strong">Pagas Una Sola Vez y Accede a todo el contenido!</strong></span><br>
    <br>

    <div style="text-align:center">
    <br>
    <h2> Pago mediante PAYPAL</h2>
    <br>
    <h3><span style="color:blue;">Acceso premium por un año a 30.00 U$S</span></h3>
    <br>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WLGPWCHUZMNUS">
    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
    </form>
    <br>
    <br>
    
    <hr>
    <br>
    <h2> Una vez realizado el Pago</h2>
    <br>
    <h3>Una vez realizado el pago, dar aviso:</h3> 
    <h3>Email: soporte@mundotecnico.info</h3>
    <h3>WhatsApp: +54 9 351 6529822</h3>
    <h3>Incluir nombre de usuario con el que esta registrado en la web y número de transacción.</h3>
    <h3>Confirmado el pago será habilitado como Usuario Premium.</h3>
    <br>
    <h3>Once the payment has been made, give notice by email to this address: soporte@mundotecnico.info</h3>
    <h3>Include username with which you are registered in the forum.</h3>
    <h3>Confirmed payment (approx 6 hours) will be enabled as a Premium User.</h3>
    <br>
    </div>
<!-- INCLUDE overall_footer.html -->